@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
h1, h2 {
    font-weight: 600;
}
#notification {
    border: 1px solid lime;
    width: fit-content;
}
nav {
    display: flex;
    background-color: azure;
}
nav ul {
    display: flex;
}
nav ul li {
    padding: 10px;
    font-weight: 600;
}
h1{
    padding: 20px 0;
}
h1{
    padding: 10px 0;
}
a:link, a:hover, a:visited {
    text-decoration: none!important;
}
.btn-generic {
    padding: 10px;
    background-color: blueviolet;
    color:white;
}